<%= form_for [@vehicle, @event] do |f| %>

  <%= f.label :name %> <br />
  <%= f.text_field :name %> <br />

  <%= f.label :cost %> <br />
  <%= f.text_field :cost %> <br />

  <%= f.label :event_date %> <br />
  <%= f.date_select :event_date %> <br />

  <%= f.label :due_date %> <br />
  <%= f.date_select :due_date %> <br />

  <%= f.label :notes %> <br />
  <%= f.text_field :notes %> <br />

  <%= f.label :vendors, value: 'Select Vendor' %> <br />
  <!-- Generate an html select of all Vendors -->
  <%= f.collection_select :vendor_id, Vendor.all, :id, :name %> <br />

  <%= f.label :categories, value: 'Select Category' %> <br />
  <!-- Generate an html select of all Categories -->
  <%= f.collection_select :category_id, Category.all, :id, :name %>

  <p><%= f.submit %></p>
<% end %>

<%= link_to 'Back', :back, class: 'btn btn-primary btn-xs'%>
