<h2>Event for Vehicle: <%= @vehicle.nickname%></h2>

Event Name: <%= @event.name %> <br>
Cost: <%= @event.cost %> <br>
Vendor: <%= @event.vendor.name %> <br>
Event Date: <%= @event.event_date %> <br>
Due Date: <%= @event.due_date %> <br>
Notes: <%= @event.notes %> <br>


