<h1>Vehicles</h1>

<div>
  <%= link_to 'Create New Vehicle', new_vehicle_path, class: 'btn btn-info btn-xs' %>

</div>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Make</th>
      <th>Model</th>
      <th>Overdue Events</th>
      <th>Future Events</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |v| %>
      <tr>
        <td><%= link_to v.nickname, vehicle_path(v) %></td>
        <td><%= v.make %></td>
        <td><%= v.model %></td>
        <td> <!-- tally Overdue Events -->
          <% overdue_event_counter = 0 %>
          <% v.events.each do |e| %>
            <% overdue_event_counter+=1 if e.overdue? == 'YES' %>
          <% end %>
          <%= overdue_event_counter %>
        </td>
        <td> <!-- tally Future Events -->
          <% future_event_counter = 0 %>
          <% v.events.each do |e| %>
            <% future_event_counter+=1 if e.future_event == 'YES' %>
          <% end %>
          <%= future_event_counter %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
