<%= link_to 'All Vehicles', vehicles_path %>
<h2>
  <%= @vehicle.nickname %>
</h2>


<table>
  <thead>
    <tr>
      <th>Make</th>
      <th>Model</th>
      <th>Year</th>
      <th>Mileage</th>
      <th>Purchase Date</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @vehicle.make %></td>
        <td><%= @vehicle.model %></td>
        <td><%= @vehicle.year %></td>
        <td><%= @vehicle.mileage %></td>
        <td><%= @vehicle.purchase_date %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Delete', vehicle_path(@vehicle), method: :delete, data: {confirm: 'Are you sure?'} %> |
<%= link_to 'Edit', edit_vehicle_path(@vehicle) %>
<hr>
<!-- Show all events for this vehicle -->
<h4>Number of Events: <%= @vehicle.events.count %></h4>
<%= link_to 'Create New Event', new_vehicle_event_path(@vehicle) %>

  <% @vehicle.events.each do |event| %>
  <ul>
    <li>
    <%= link_to 'Edit', edit_vehicle_event_path(@vehicle, event) %> |
    <%= link_to 'Delete', vehicle_event_path(@vehicle, event), method: :delete, data: {confirm: 'Are you sure?'} %><br>
    Name: <%= event.name %><br>
    Cost: <%= event.cost %><br>
    Event Date: <%= event.event_date %><br>
    Due Date: <%= event.due_date %><br>
    Notes: <%= event.notes %><br>
    Vendor: <%= event.vendor_id %><br>  <!-- #event.vendor.name -->
    Category: <%= event.category_id %><br> <!-- #event.category.name -->


    </li>
  </ul>
  <% end %>

