<%= form_for @category do |f| %>
  <% if @category.errors.any? %>
  <div id="error_explanation">

    <h2>
      Sorry, please try again:
    </h2>

  <ul>
    <%= @category.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
  </div>
  <% end %>

  <%= f.label :name %> <br />
  <%= f.text_field :name %> <br />

  <%= f.submit %>
<% end %>

<%= link_to 'Back', :back, class: 'btn btn-primary btn-xs'%>
