<%= stylesheet_link_tag "custom" %>

<!DOCTYPE html>
<html>
<head>

  <title>Project1 - CarTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="main-container" class="container"> <!-- container -->

      <div class="row"> <!-- header -->
        <div class="col-xs-12">
          <h1 class="appname">CarTracker</h1>
        </div>
      </div> <!-- end header -->

      <div class="row"> <!-- nav bar -->
        <div class="col-xs-12">
          <ul class="nav nav-tabs">
            <li class="<%= 'active' if current_page?(vehicles_path) %>"><%= link_to "Vehicles", vehicles_path %></li>
            <li class="<%= 'active' if current_page?(vendors_path) %>"><%= link_to "Vendors", vendors_path %></li>
            <li class="<%= 'active' if current_page?(categories_path) %>"><%= link_to "Categories", categories_path %></li>
          </ul>
        </div>
      </div> <!-- end nav bar -->

    <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
    </div>

    </div> <!-- end container -->
  </body>
</html>
